<div class="announcement_block" timestamp="{{date}}" style="--button-color: {{ text_color }}; --button-text-color: {{ text_color }}; --button-background-color: {{ background_color }}; background-color: {{ background_color }}; color: {{ text_color }}; ">
	<div class="announcement_block__inside">
		{{ text|raw }}
	</div>
</div>
